<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="userServiceBean" class="com.mjq.spring.service.impl.UserServiceImpl">
        <property ref="userDaoBean" name="userDao"></property>
        <constructor-arg name="name" value="name"></constructor-arg>
    </bean>
    <bean id="userDaoBean" class="com.mjq.spring.dao.impl.UserDaoImpl">

    </bean>
<!--    静态工厂-->
    <bean id="userDaoBeanStatic" class="com.mjq.spring.factory.StaticFactory" factory-method="userDao"></bean>
<!--实例工厂 需要将对应的类注册为bean-->
    <bean id="StaticFactory" class="com.mjq.spring.factory.MetaFactory"></bean>
    <bean id="userDaoBeanMeta" factory-bean="StaticFactory" factory-method="userDao"></bean>
<!--    实现FactoryBean<T>方式-->
    <bean id="myFactoryBean" class="com.mjq.spring.factory.MyFactoryBean"></bean>

<!--    注解配置-->
<!--    注解组件扫描，识别使用@Component注解-->
<!--    <context:component-scan base-package="com.mjq.spring"></context:component-scan>-->
<!--读取配置文件配置-->
<!--    <context:property-placeholder location="classpath:application.properties"></context:property-placeholder>-->
</beans>